<!-- /partials/header.html -->
<div class="container">
  <div class="h_flex">
    <div class="h_list">
      <div class="h_list_flex">
        <div class="h_list_logo">
          <a href="/test/index.html"><img src="/test/assets/image/common/logo_tf.png" alt="" class="img-fluid"></a>
        </div>
        <div class="h_list_menu"><a href="javascript:void(0);"><span></span></a></div>
      </div>
      <div class="h_main_list">
        <ul>
          <li><a href="/test/index.html">TOP<span>トップページ</span></a></li>
          <li><a href="/test/information.html">INFORMATION<span>お知らせ</span></a></li>
          <li class="comingsoon"><a href="">MEMBER<span>参加選手一覧 coming soon</span></a></li>
          <li class="comingsoon"><a href="">MAP<span>場内のご案内 coming soon</span></a></li>
          <li class="comingsoon"><a href="">TIME TABLE<span>タイムテーブル coming soon</span></a></li>
          <li class="down"><a href="javascript:void(0);">EVENT<span>イベント</span></a></li>
          <div class="sub_list">
            <ul>
              <li><a href="/test/index.html#event01">ふれあいイベント</a></li>
              <li><a href="/test/event/ground.html">グラウンドメインイベント</a></li>
              <li><a href="/test/otanoshimi.html">お楽しみイベント</a></li>
            </ul>
          </div>
          <li><a href="/test/index.html#event04">TICKET<span>チケット</span></a></li>
          <li><a href="/test/index.html#event05">GOURMET<span>グルメ</span></a></li>
          <li><a href="/test/goods.html">GOODS<span>グッズ・ファンクラブ</span></a></li>
          <li><a href="/test/other.html">OTHERS<span>その他</span></a></li>
        </ul>
        <div class="h_official">
          <img src="/test/assets/image/common/logo_blue.svg" alt="" class="img-fluid"><br>
          <a href="https://www.seibulions.jp/index.html?utm_source=officialsite&utm_medium=fbutton&utm_campaign=251024officialsiteTF" target="_blank">埼玉西武ライオンズオフィシャルサイトへ</a>
          <p>©SEIBU Lions / TEZUKA PRODUCTIONS All Rights Reserved</p>
        </div>
      </div>
    </div>
    <div class="h_menu"><a href="javascript:void(0);"><span class="t_txt">MENU</span><span class="t_menu"></span></a></div>
  </div>
</div>
