@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

// メディアクエリ
$XXXL:1600px;
$XXL:1400px;
$XL:1200px;
$L:992px;
$M:768px;
$S:0px;

// font-family
$global_font_family : "Noto Sans JP", sans-serif;
$global_font_family_montserrat : "Montserrat", sans-serif;
$global_font_family_mplus : "M PLUS 1", sans-serif;

// color
$c_main:#024287;
$c_white:#FFFFFF;
$c_black:#000000;

// mixin of Media Query
@mixin MQ($canvas) {
	@if $canvas == ML {
	  @media print, screen and (max-width: $L) { @content; } 
	}
	@else if $canvas == L {
		@media print, screen and (min-width: $L) { @content; } 
	  }
	@else if $canvas == XL {
	  @media print, screen and (min-width: $XL) { @content; } 
	}
	@else if $canvas == XXL {
	  @media print, screen and (min-width: $XXL) { @content; } 
	}
	@else if $canvas == XXXL {
	  @media print, screen and (min-width: $XXXL) { @content; } 
	}
}

.no_pc{
    @include MQ(L){
      display: none !important;
    }
}
.no_sp{
    @include MQ(ML){
        display: none !important;
    }
}

// カラー選択
.c_main{
    color: $c_main;
}

.over_hidden{
    overflow: hidden;
}

body{
    font-family: $global_font_family;
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5000;
        padding: 20px 0;
        @include MQ(ML){
            padding: 5px 0;
        }
        >.container{
            @include MQ(L){
                max-width: 1400px !important;
            }
            .h_flex{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                .h_logo{
                    >a{
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            opacity: 0.7;
                        }
                        >img{
                            width: 50px;
                        }
                    }
                }
                .h_list{
                    position: absolute;
                    top: 0;
                    right: -1200px;
                    z-index: 9999;
                    width: 50%;
                    height: 100vh;
                    overflow-y: scroll;
                    padding-bottom: 20px;
                    // background-color: rgba(255, 255, 255, 0.85);
                    background-color: $c_white;
                    text-align: center;
                    transition: .5s;
                    @include MQ(ML){
                        width: 100%;
                    }
                    &.is_open{
                        right: 0;
                    }
                    >.h_list_flex{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-end;
                        padding: 10px;
                        @include MQ(ML){
                            justify-content: space-between;
                        }
                        .h_list_logo{
                            @include MQ(L){
                                display: none;
                            }
                            >a{
                                text-decoration: none;
                                transition: .5s;
                                &:hover{
                                    opacity: 0.7;
                                }
                                >img{
                                    width: 50px;
                                }
                            }
                        }
                        .h_list_menu{
                            position: relative;
                            z-index: 500;
                            >a{
                                display: block;
                                position: relative;
                                text-align: center;
                                text-decoration: none;
                                z-index: 9900;
                                width: 50px;
                                height: 50px;
                                >span{
                                    display: block;
                                    position: relative;
                                    transition: 0.3s;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 33px;
                                    height: 2px;
                                    background-color: transparent;
                                    &::before{
                                        content: "";
                                        display: block;
                                        position: relative;
                                        top: 1.5px;
                                        left: 0;
                                        transform: translate(0%, -50%) rotate(45deg);
                                        width: 25px;
                                        height: 3px;
                                        background-color: $c_main;
                                    }
                                    &::after{
                                        content: "";
                                        display: block;
                                        position: relative;
                                        top: -1.5px;
                                        left: 0;
                                        transform: translate(0%, -50%) rotate(-45deg);
                                        width: 25px;
                                        height: 3px;
                                        background-color: $c_main;
                                    }
                                }
                            }
                        }
                    }
                    >.h_main_list{
                        @include MQ(ML){
                            height: calc(100vh - 70px);
                            overflow: scroll;
                        }
                        >ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;
                            gap: 4px;
                            >li{
                                width: calc(50% - 2px);
                                font-weight: 600;
                                @include MQ(ML){
                                    width: 100%;
                                }
                                position: relative;
                                text-align: left;
                                >a{
                                    display: inline-block;
                                    text-decoration: none;
                                    font-size: 35px;
                                    color: $c_main;
                                    background-color: #B5E6FF;
                                    padding: 10px 20px;
                                    line-height: 1.2;
                                    width: 100%;
                                    transition: .5s;
                                    // @include MQ(ML){
                                    //     display: block;
                                    //     border-top: 1px solid $c_main;
                                    //     padding: 10px 10px;
                                    // }
                                    &:hover{
                                        opacity: 0.7;
                                    }
                                    >span{
                                        display: block;
                                        font-size: 12px;
                                    }
                                }
                                &.down{
                                    position: relative;
                                    >a{
                                        position: relative;
                                        &:hover{
                                            @include MQ(ML){
                                                opacity: 1;
                                            }
                                        }
                                        &::before{
                                            content: "";
                                            display: block;
                                            position: absolute;
                                            top: 50%;
                                            right: 15px;
                                            transform: translate(-50%, -50%);
                                            transition: 0.5s;
                                            width: 15px;
                                            height: 2px;
                                            background-color: $c_main;
                                        }
                                        &::after{
                                            content: "";
                                            display: block;
                                            position: absolute;
                                            top: 50%;
                                            right: 15px;
                                            transform: translate(-50%, -50%) rotate(90deg);
                                            transition: 0.5s;
                                            width: 15px;
                                            height: 2px;
                                            background-color: $c_main;
                                        }
                                        &.is_sub_open{
                                            &::after{
                                                transform: translate(-50%, -50%) rotate(0deg);
                                            }
                                        }
                                    }
                                }
                            }
                            >.sub_list{
                                width: 100%;
                                display: none;
                                >ul{
                                    width: 100%;
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-around;
                                    gap: 2px;
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    >li{
                                        position: relative;
                                        width: 33%;
                                        @include MQ(ML){
                                            width: 100%;
                                        }
                                        >a{
                                            position: relative;
                                            display: block;
                                            text-decoration: none;
                                            font-weight: bold;
                                            color: $c_main;
                                            background-color: #DEF4FF;
                                            padding: 20px 0;
                                            transition: .5s;
                                            @include MQ(ML){
                                                padding: 10px 0px;
                                            }
                                            &::after{
                                                content: "\f054";
                                                position: absolute;
                                                top: 50%;
                                                right: 8px;
                                                transform: translateY(-50%);
                                                font-family: "Font Awesome 5 Free";
                                                font-weight: 900;
                                                @include MQ(ML){
                                                    right: 15px;
                                                }
                                            }
                                            &:hover{
                                                opacity: 0.7;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        >.h_official{
                            margin-top: 20px;
                            padding: 0 12px;
                            text-align: center;
                            >img{
                                width: 140px;
                            }
                            >a{
                                position: relative;
                                display: inline-block;
                                text-decoration: none;
                                width: 400px;
                                font-size: 14px;
                                font-weight: 500;
                                color: $c_main;
                                border: 2px solid $c_main;
                                border-radius: 30px;
                                padding: 5px 0;
                                margin: 20px 0;
                                transition: .5s;
                                @include MQ(ML){
                                    width: 90%;
                                }
                                &:hover{
                                    opacity: 0.7;
                                }
                                &::after{
                                    content: "\f054";
                                    position: absolute;
                                    top: 50%;
                                    right: 10px;
                                    transform: translateY(-50%);
                                    font-family: "Font Awesome 5 Free";
                                    font-weight: 900;
                                }
                            }
                            >p{
                                font-size: 10px;
                                font-weight: 500;
                                color: $c_main;
                            }
                        }
                    }
                }
                .h_menu{
                    position: relative;
                    >a{
                        display: block;
                        position: relative;
                        text-align: center;
                        text-decoration: none;
                        z-index: 9900;
                        width: 50px;
                        height: 50px;
                        background: linear-gradient(#01336c 0%, #01336c 45.32%, #011a36 100%);
                        >.t_txt{
                            display: inline-block;
                            font-size: 12px;
                            font-weight: bold;
                            color: $c_white;
                            transform: translate(0%, -10%);
                        }
                        >.t_menu{
                            display: block;
                            position: relative;
                            transition: 0.3s;
                            top: 20%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 33px;
                            height: 2px;
                            background-color: $c_white;
                            &::before{
                                content: "";
                                display: block;
                                position: relative;
                                transition: 0.3s;
                                top: -7px;
                                left: 0;
                                transform: translate(0%, -50%);
                                width: 33px;
                                height: 2px;
                                background-color: $c_white;
                            }
                            &::after{
                                content: "";
                                display: block;
                                position: relative;
                                transition: 0.3s;
                                top: 7px;
                                left: 0;
                                transform: translate(0%, -50%);
                                width: 33px;
                                height: 2px;
                                background-color: $c_white;
                            }
                        }
                        &.is_open{
                            >span{
                                left: 58%;
                                background-color: transparent;
                                &::before{
                                    transform: translate(0%, -50%) rotate(45deg);
                                    width: 25px;
                                    top: 0px;
                                }
                                &::after{
                                    transform: translate(0%, -50%) rotate(-45deg);
                                    width: 25px;
                                    top: -2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .fv_section{
            img{
                width: 100%;
            }
        }
        .info_section{
            padding: 40px 0;
            >.container{
                @include MQ(L){
                    max-width: 1100px !important;
                }
                >h1{
                    text-align: center;
                    color: $c_main;
                    font-size: 5rem;
                    font-weight: bold;
                    @include MQ(ML){
                        font-size: 50px;
                    }
                    >span{
                        display: block;
                        font-size: 20px;
                        @include MQ(ML){
                            font-size: 14px;
                        }
                    }
                }
                >ul{
                    list-style: none;
                    padding: 0;
                    margin: 40px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    @include MQ(ML){
                        row-gap: 10px;
                        margin: 30px 0 40px;
                    }
                    >li{
                        width: 32%;
                        background-color: #B5E6FF;
                        border-radius: 10px;
                        transition: .5s;
                        @include MQ(ML){
                            width: 100%;
                        }
                        &:hover{
                            opacity: 0.7;
                        }
                        >a{
                            display: inline-block;
                            text-decoration: none;
                            background-color: #B5E6FF;
                            border-radius: 10px;
                            font-weight: 500;
                            padding: 10px;
                            transition: .5s;
                            &:hover{
                                opacity: 0.7;
                            }
                            >span{
                                display: inline-flex;
                                align-items: center;
                                column-gap: 5px;
                                color: $c_main;
                                font-size: 12px;
                                &.new{
                                    &::before{
                                        content: "NEW";
                                        transform: translateY(-2px);
                                        color: #FF0000;
                                        font-size: 20px;
                                        font-weight: bold;
                                    }
                                }
                            }
                            >p{
                                color: $c_black;
                                font-size: 13px;
                                margin: 3px 0 0;
                            }
                        }
                    }
                }
                >.more_btn{
                    position: relative;
                    text-align: center;
                    >img{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        &.ab_01{
                            left: 10%;
                        }
                        &.ab_02{
                            right: 10%;
                        }
                    }
                    >a{
                        position: relative;
                        text-decoration: none;
                        display: inline-block;
                        padding: 10px 0;
                        font-weight: 500;
                        width: 170px;
                        color: $c_main;
                        border: 1px solid $c_main;
                        border-radius: 30px;
                        transition: .5s;
                        &:hover{
                            opacity: 0.7;
                        }
                        &::after{
                            content: "\f054";
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                        }
                    }
                }
            }
        }
        .mmt_section{
            position: relative;
            overflow: hidden;
            text-align: center;
            background: linear-gradient(#1cace4 0%, #1d8bc8 24.34%, #01336c 100%);
            filter: drop-shadow(5px 3px 6px rgba(0, 0, 0, 0.16));
            padding: 60px 0;
            &::before{
                content: "";
                background-image: url(../images/bg_mmt.png);
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-47%);
                width: 130%;
                height: 100%;
                @include MQ(ML){
                    width: 185%;
                }
            }
            >.container{
                @include MQ(L){
                    max-width: 1100px !important;
                }
                >img{
                    margin-bottom: 30px;
                    &.img_01{
                        width: 154px;
                    }
                    &.img_02{
                        width: 100%;
                    }
                }
                >p{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 28px;
                    text-align: center;
                    color: $c_white;
                    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
                    margin-bottom: 0;
                }
                >ul{
                    list-style: none;
                    padding: 0;
                    margin-top: 150px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    @include MQ(ML){
                        row-gap: 15px;
                    }
                    >li{
                        position: relative;
                        width: 100%;
                        background-color: $c_white;
                        border-radius: 30px;
                        padding: 8px;
                        >a{
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            line-height: 1.2;
                            text-decoration: none;
                            background-color: $c_white;
                            border-radius: 30px;
                            border: 5px solid #B5E5FF;
                            padding: 50px 0 55px;
                            color: $c_main;
                            font-size: 50px;
                            font-weight: bold;
                            transition: .5s;
                            &:hover{
                                opacity: 0.7;
                            }
                            &::after{
                                content: "\f054";
                                font-size: 21px;
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                            }
                            >span{
                                display: block;
                                font-size: 21px;
                            }
                        }
                        >img{
                            position: absolute;
                            top: 0;
                            transform: translateY(-70%);
                            z-index: 2;
                            &.player_01{
                                left: 10%;
                            }
                            &.player_02{
                                right: 10%;
                            }
                        }
                        &:nth-child(2){
                            >a{
                                background-color: #B5E6FF;
                            }
                        }
                    }
                }
            }
        }
        .event_section{
            padding: 0px 0 40px;
            background-image: url(../images/bg_event_sp.png);
            background-repeat: repeat-y;
            background-size: 100%;
            background-position: top center;
            >.event_all_btn{
                background-color: rgba(255, 255, 255, 0.6);
                padding: 20px 15px;
                text-align: center;
                margin-bottom: 40px;
                >p{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 4px;
                    >a{
                        position: relative;
                        width: calc(22% - 2px);
                        display: inline-block;
                        text-decoration: none;
                        font-size: 11px;
                        font-weight: bold;
                        height: 55px;
                        color: $c_white;
                        border-radius: 5px;
                        background: linear-gradient(#105092 0%, #07284b 100%);
                        transition: .5s;
                        &:nth-child(2){
                            width: calc(31% - 2px);
                        }
                        &:hover{
                            opacity: 0.7;
                        }
                        >span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 95%;
                            &::after{
                                display: block;
                                content: "\f0dd";
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
            >.container{
                @include MQ(L){
                    max-width: 1100px !important;
                }
                >h1{
                    text-align: center;
                    color: $c_main;
                    font-size: 5rem;
                    font-weight: bold;
                    @include MQ(ML){
                        font-size: 50px;
                    }
                    >span{
                        display: block;
                        font-size: 20px;
                        @include MQ(ML){
                            font-size: 14px;
                        }
                    }
                }
                >.event_box{
                    position: relative;
                    text-align: center;
                    background-color: $c_white;
                    border-radius: 30px;
                    padding: 20px 15px 20px;
                    margin-top: 15px;
                    &:nth-of-type(2){
                        margin-top: 60px;
                    }
                    >p{
                        text-align: left;
                    }
                    >a{
                        position: relative;
                        text-decoration: none;
                        display: inline-block;
                        font-weight: 600;
                        color: $c_main;
                        border: 2px solid $c_main;
                        border-radius: 24px;
                        padding: 10px 35px;
                        transition: .5s;
                        &:hover{
                            opacity: 0.7;
                        }
                        &::after{
                            content: "\f054";
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                        }
                    }
                    >.event_img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateY(-85%);
                    }
                    >.event_sub{
                        position: relative;
                        margin-top: 80px;
                        &:last-of-type{
                            margin-bottom: 30px;
                        }
                        >img{
                            position: absolute;
                            top: 0;
                            transform: translateY(-80%);
                            &.player_01{
                                left: 0;
                            }
                            &.player_02{
                                right: 0;
                            }
                        }
                        >h3{
                            display: inline-block;
                            color: $c_main;
                            font-size: 18px;
                            font-weight: bold;
                            padding: 0 15px;
                            border-left: 3px solid $c_main;
                            border-right: 3px solid $c_main;
                            margin-bottom: 30px;
                        }
                        >p{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            margin-bottom: 0;
                            gap: 6px;
                            >a{
                                position: relative;
                                width: calc(50% - 3px);
                                text-decoration: none;
                                font-size: 13px;
                                font-weight: 500;
                                color: $c_main;
                                background-color: #B5E6FF;
                                border-radius: 5px;
                                height: 80px;
                                transition: .5s;
                                &.e_end{
                                    background-color: #B1B1B1;
                                    pointer-events: none;
                                }
                                &:hover{
                                    opacity: 0.7;
                                }
                                >span{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                    width: 95%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .tggo_section{
            padding: 40px 0 20px;
            background: linear-gradient(#1cace4 0%, #1d8bc8 6.6%, #01336c 100%);
            >.container{
                @include MQ(L){
                    max-width: 1100px !important;
                }
                >.tggo_box{
                    padding: 15px;
                    background-color: $c_white;
                    border-radius: 30px;
                    margin-bottom: 20px;
                    &:nth-child(2),&:nth-child(4){
                        background-color: #B5E6FF;
                    }
                    >h2{
                        text-align: center;
                        font-size: 50px;
                        font-weight: bold;
                        line-height: 1;
                        padding: 20px 0;
                        color: $c_white;
                        border-radius: 20px 20px 0px 0px;
                        background: linear-gradient(#105092 0%, #07284b 100%);
                        >span{
                            display: block;
                        }
                    }
                    >.tggo_flex{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        >.tggo_img{
                            width: 30%;
                        }
                        >.tggo_txt{
                            width: 63%;
                            >ul{
                                list-style: none;
                                padding: 0;
                                margin: 0;
                                display: flex;
                                flex-wrap: wrap;
                                text-align: center;
                                row-gap: 5px;
                                >li{
                                    width: 100%;
                                    >a{
                                        position: relative;
                                        display: block;
                                        text-decoration: none;
                                        font-size: 14px;
                                        font-weight: 600;
                                        padding: 12px 0;
                                        color: $c_main;
                                        border: 2px solid $c_main;
                                        border-radius: 40px;
                                        background-color: #FFF972;
                                        transition: .5s;
                                        &:hover{
                                            opacity: 0.7;
                                        }
                                        &::after{
                                            content: "\f054";
                                            position: absolute;
                                            top: 50%;
                                            right: 10px;
                                            transform: translateY(-50%);
                                            font-family: "Font Awesome 5 Free";
                                            font-weight: 900;
                                        }
                                    }
                                }
                            }
                            >p{
                                color: #3B4043;
                                line-height: 1.7;
                            }
                        }
                    }
                    &.tggo_link{
                        display: block;
                        text-decoration: none;
                        transition: .5s;
                        &:hover{
                            opacity: 0.7;
                        }
                        >h2{
                            position: relative;
                            &::after{
                                content: "\f054";
                                font-size: 30px;
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                            }
                        }
                        >.tggo_flex{
                            >.tggo_img{
                                transform: translateY(-20px);
                            }
                        }
                    }
                }
                >.f_official{
                    margin-top: 40px;
                    padding: 0 12px;
                    text-align: center;
                    >.img_01{
                        width: 180px;
                    }
                    >.img_02{
                        width: 140px;
                        margin-top: 20px;
                    }
                    >a{
                        position: relative;
                        display: inline-block;
                        text-decoration: none;
                        width: 400px;
                        font-size: 14px;
                        font-weight: 500;
                        color: $c_main;
                        background-color: $c_white;
                        border-radius: 30px;
                        padding: 5px 0;
                        margin: 20px 0;
                        transition: .5s;
                        @include MQ(ML){
                            width: 100%;
                        }
                        &:hover{
                            opacity: 0.7;
                        }
                        &::after{
                            content: "\f054";
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transform: translateY(-50%);
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                        }
                    }
                    >p{
                        font-size: 10px;
                        font-weight: 500;
                        color: $c_white;
                    }
                }
            }
        }
    }
    .bg_section{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
        &.is_bg{
            display: block;
        }
    }
    .fix_section{
        position: fixed;
        bottom: 5%;
        right: 0;
        width: 60%;
        opacity: 0;
        transform: translateY(20px);
        pointer-events: none;
        transition: .5s;
        &.show{
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
        }
        >ul{
            list-style: none;
            padding: 0;
            margin: 0;
            >li{
                >a{
                    position: relative;
                    font-weight: bold;
                    color: $c_main;
                    text-decoration: none;
                    display: inline-block;
                    width: 100%;
                    border-top: 3px solid $c_main;
                    border-bottom: 3px solid $c_main;
                    border-left: 3px solid $c_main;
                    border-radius: 30px 0px 0px 30px;
                    padding: 10px 45px;
                    margin: 3px 0;
                    transition: .5s;
                    &:hover{
                        opacity: 0.7;
                    }
                    &::after{
                        content: "\f054";
                        position: absolute;
                        font-size: 16px;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                    }
                }
                &:first-child{
                    >a{
                        background-color: #FFFF00;
                        &::before{
                            content: "";
                            background-image: url(../images/icon_ticket.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100%;
                            position: absolute;
                            top: 50%;
                            left: 12px;
                            transform: translateY(-50%);
                            width: 28px;
                            height: 25px;
                        }
                    }
                }
                &:last-child{
                    >a{
                        font-size: 20px;
                        background-color: $c_white;
                    }
                }
            }
        }
    }
}